<?xml version="1.0" encoding="UTF-8"?>
<!--
    Automatic Configuration: http://logging.apache.org/log4j/2.x/manual/configuration.html
    http://logging.apache.org/log4j/2.x/manual/architecture.html
    Custom Log Levels: http://logging.apache.org/log4j/2.x/manual/customloglevels.html
-->
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.thraex.supplier" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--<Root level="debug">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Root>-->
    </Loggers>
</Configuration>
